        body {
            background-color: #1f1f1f !important;
        }

        table {
            background-color: #2d2d2d;
            width: 80%;
            border-collapse: collapse;
            max-width: 900px;
            margin: 120px auto 0 auto;
            box-shadow: 0 8px 20px rgba(0,0,0,0.4);
        }

        th, td {
            padding: 14px;
            text-align: left;
            border-bottom: 1px solid #333;
            color: white;
        }

        th {
            background-color: #3d3d3d;
        }

        tr:hover {
            background-color: #262626;
            transition: 0.3s;
        }


        .modal-content.bg-dark {
            background-color: #1c1c1c;
            color: white;
        }

        .modal-content.bg-dark input {
            background-color: #333;
            color: white;
            border: 1px solid #555;
        }

        .btn {
            border-radius: 10px !important;
        }