html, body{
    background-color: black;
}

body {
    background-color: #1e1e1e;
    background-size: contain;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
