body {
    background-color: #1f1f1f !important;
}

.table-dark td, .table-dark th {
    border-color: #444 !important;
}

.table-secondary th {
    background-color: #d1d1d1 !important;
}

.btn {
    border-radius: 10px !important;
}

@media print {
    a.btn, button.btn, form, .collapse, hr {
        display: none !important;
    }

    body {
        background: #fff !important;
        color: #000 !important;
    }
}
